<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases> <!--别名-->
        <typeAlias alias="role" type="com.learn.ssm.pojo.Role"/>
    </typeAliases>
    <typeHandlers> <!--类型处理器-->
        <typeHandler handler="com.learn.ssm.MyTypeHandler"/>
    </typeHandlers>
    <objectFactory type="com.learn.ssm.MyObjectFactory">
        <property name="prop1" value="value1"/>
    </objectFactory>
    <!--数据库环境-->
    <environments default="development">
        <environment id="development ">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssm"/>
                <property name="user" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <!--映射文件-->
    <mappers>
        <mapper resource="mapper/RoleMapper.xml"/>
    </mappers>
</configuration>